<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxj.mapper.AmountMapper">
    <select id="amountDateList" resultType="string">
        SELECT DISTINCT DATE_FORMAT(create_time, '%Y-%m-%d')
        FROM `t_ka_amount`
    </select>
</mapper>